:root {
  --primary-color: #48c78e;
  --secondary-color: #F2FBF7;
}

* {
  margin: 0px;
}

body {
  background-color: var(--secondary-color);
}

.hero {
  background-image: url("../images/banner-2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.tabs a {
  color: #F2FBF7;
}

.tabs a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.tabs li.is-active a {
  color: var(--primary-color)
}

#ingredients-title {
  font-family: 'Kaushan Script', cursive;
}

.media-content span {
  font-family: 'Kaushan Script', cursive;
}

#start-btn {
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.search, #meal-btn {
  width: 100%;
}

.ingrBtn.button.is-success.is-outlined:focus {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color)
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide {
    display: block;
  }
}

@media screen and (min-width: 1100px) {

  .hero {
    background-image: url("../images/banner-1.png");
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  .hero-body {
    margin-left: 55%;
  }
  section .card {
    height: 100%;
  }
}