:root {
  --primary-color: #48c78e;
  --secondary-color: #F2FBF7;
}

* {
  margin: 0px;
}

body {
  background-color: var(--secondary-color);
}

/* HERO/HEADER STYLING -------------------------------------- */
.hero {
  background-image: url("../images/banner-2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.hero-body {
  padding: 0;
}

.joke-card, .joke-card p {
  padding: 0!important;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--secondary-color);
  min-width: 300px;
  font-family: 'Handlee', cursive;
}

#joke-box:hover {
  cursor: pointer;
}

#joke {
  margin: 0;
}

#hero-box {
  max-width: 340px;
}

.hero-foot {
  margin-top: 1.5rem;
}

.tabs a {
  color: var(--secondary-color);
}

.tabs a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.tabs li.is-active a {
  color: var(--primary-color)
}
/* CURRENT TAB MSG STYLING */
.current-msg .subtitle {
  font-family: 'Kaushan Script', cursive;
}

/* INGREDIENTS PAGE STYLING ------------------------- */
#ingredients-title {
  font-family: 'Kaushan Script', cursive;
}

.ingrBtn.button.is-success.is-outlined:focus {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color)
}

.search-btn-bottom button {
  width: 100%;
}

/* RECIPE CARD STYLING */
.fav-cont, .fav-cont button {
  margin-bottom: 0!important;
}

.image img {
  max-height: 100%;
}

.recipe-card, .favorite-card {
  width: 320px;
  flex-basis: auto;
  flex-grow: 0;
}

.recipe-card i, .favorite-card i {
  color: var(--primary-color);
}

.status {
  width: 70px;
  border-radius: 5px;
}

.status2 {
  width: 60px;
  border-radius: 5px;
}

.amounts, .instructions {
  font-size: 0.8rem;
}

ul {
  list-style: disc; 
}

.rDropDown, .dropdown-trigger, .dropdown, .dropdown-menu {
  width: 100%;
}

.rDropDown.button.is-fullwidth.is-success.is-outlined:focus {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* UTILITIES STYLING */
.hide {
  display: none;
}

/* WELCOME MODAL STYLING ---------------------------- */
.media-content span {
  font-family: 'Kaushan Script', cursive;
}

#start-btn {
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#welcome-media {
  margin-bottom: 1.5rem;
}

/* RESPONSIVENESS STYLING START --------------------- */
/* LARGE SCREEENS */
@media screen and (min-width: 1100px) {
  .hero {
    background-image: url("../images/banner-1.png");
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  section .ingredient-card {
    height: 100%;
  }
  
  .recipe-card header, .favorite-card header {
    height: 180px;
  }

  #hero-box {
    margin-right: 15%;
  }

  #joke {
    margin-top: 65px;
    font-size: 1.7rem;
  }
}
/* LARGEST SCREENS */
@media screen and (min-width: 1700px) {

  #hero-box {
    margin-right: 23%;
  }

  #joke-box {
    margin-left: 20%;
  }

  #joke {
    font-size: 2.2rem;
  }
}